.main {
  max-width: 1500px;
  margin: 0 auto;
}

.main__discounts {
  margin-top: 60px;
  margin-bottom: 80px;
}

.main__discounts_title {
  text-align: center;
  color: #424242;
  font-size: 43px;
  font-weight: 800;
  line-height: 1.2;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main__instructions {
  background: linear-gradient(
    rgba(255, 159, 0, 0.01) 0%,
    rgba(255, 184, 0, 0.08) 100%
  );
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__instructions_title {
  margin-top: 80px;
  color: #f17228;
  font-size: 43px;
  font-weight: 800;
  line-height: 1.2;
}

.main__instructions_cards {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.main__instructions_card {
  margin-right: 32px;
  width: 307px;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.last {
  margin: 0;
}

.main__instructions_card_image {
  height: 112px;
  width: auto;
}

.main__instructions_card_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__instructions_card_title {
  color: #434343;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
}

.main__instructions_card_text {
  color: #9e9e9e;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
}
