@import url('./components/Header/Header.css');
@import url('./components/SearchBar/SearchBar.css');
@import url('./components/Main/Main.css');
@import url('./components/DiscountCards/DiscountCards.css');
@import url('./components/RestaurantCards/RestaurantCards.css');
@import url('./components/Footer/Footer.css');

:root {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
}
