.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  gap: 18px;
  display: flex;
}

.card {
  height: 415px;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.card__image {
  margin: 0;
  width: 360px;
  height: 301px;
  border-radius: 16px;
}

.card__title {
  margin: 32px 0 14px 0;
  color: #424242;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.2;
}

.card__text_container {
  margin: 0;
  height: 42px;
  background-color: rgba(241, 114, 40, 0.22);
  border: none;
  border-radius: 8px;
  align-items: center;
}

.card__remaining {
  margin: 0;
  padding: 8px 16px;
  color: #f17228;
  font-size: 22px;
  font-weight: 800;
  line-height: 1.2;
}
